.section-body {
  color: "#1C2938";
  height: 100vh;
}

.section-body-2 {
  color: "#1C2938";
  height: 150vh;
}

.section-body-3 {
  color:  #1C2938;
}

.section-top-bottom{
  padding-top: 40px;
  padding-bottom: 40px;
}

.title-top-bottom{
  padding-top: 20px;
  padding-bottom: 20px;
}

.accordion-row{
  width: 85vw;
  background-color: #F6F9FC;
}

.contactus{
  width: 85vw;
}

@media (min-width: 576px) {
  .heading {
    font-size: 100px;
  }

  .heading-2 {
    font-size: 75px;
  }
}

.sub-heading {
  font-size: x-large;
}

.sub-heading-2 {
  font-size: 20px;
}

.sub-heading-3 {
  font-size: 30px;
}

.section-2 {
  background-color: #F6F9FC;
}

.section-3 {
  background-color: #F6F9FC;
}

.accordion-header-section {
  background-color: #F6F9FC;
  color: #1C2938;
}

.card-section {
  background-color: #F6F9FC;
  color: #1C2938;
}

.social-icons {
  margin: 0px 3px;
}


  .border-ash {
    border: 2px solid #dadada;
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .accordion-section {
    width: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .accordion-section {
    width: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .accordion-section {
    width: auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .accordion-section {
    width: auto;
  }
}
